@import "reset.css";
@import "grid.css";
@import "fonts.css";

:root {
  --primaray-color: #c90000;
  --secendary--color: #ffc300;
  --text--color: #323232;
}

/*

-- App

*/
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
  line-height: 1.5;
}
