@import "reset.css";
@import "grid.css";
@import "fonts.css";

:root {
  --primaray-color: #c90000;
  --secendary--color: #ffc300;
  --text--color: #323232;
}

/*

-- App

*/
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
  line-height: 1.5;
}

/* reset */
a {
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}

/* header */
/*
---------
  header
---------
*/
.header {
  padding: 1.5rem 0;
  -webkit-box-shadow: 0 0 4rem rgba(0, 0, 0, 10%);
  box-shadow: 0 0 4rem rgba(0, 0, 0, 10%);
  background-color: #fff;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-content__logo {
  margin-right: 8rem;
}
.nav-content__img {
}
.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}
.menu-list__item {
  margin-right: 6rem;
}
.menu-list__item:last-child {
  margin-right: 0;
}
.menu-list__item__link {
  font-family: "Poppins Medium";
  color: #7d7c7c;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.menu-list__item--active a {
  color: var(--primaray-color);
  font-family: "Poppins SemiBold";
}
.menu-list__item__link:hover {
  color: var(--primaray-color);
}
.nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}
.nav-btn__link {
  font-family: "Poppins Medium";
  padding: 0.5rem 0;
  width: 8rem;
  text-align: center;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav-btn__link--sign {
  color: var(--primaray-color);
  border: 1px solid var(--primaray-color);
  border-radius: 2rem;
}
.nav-btn__link--log {
  color: #fff;
  border: 1px solid var(--primaray-color);
  border-radius: 2rem;
  background-color: var(--primaray-color);
}
.nav-toggle__icon {
  display: none;
  cursor: pointer;
  width: 4.5rem;
  height: 4.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nav-toggle__line {
  position: relative;
  -webkit-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.nav-toggle__line,
.nav-toggle__line::after,
.nav-toggle__line::before {
  content: "";
  width: 4.5rem;
  height: 0.4rem;
  background-color: var(--primaray-color);
  border-radius: 2rem;
  position: relative;
}
.nav-toggle__line::after {
  position: absolute;
  top: 1.2rem;
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.nav-toggle__line::before {
  position: absolute;
  top: -1.2rem;
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.nav__toggle-icon--open .nav-toggle__line {
  background-color: transparent;
}
.nav__toggle-icon--open .nav-toggle__line::after {
  -webkit-transform: translateY(-1.2rem) rotate(-45deg);
  -ms-transform: translateY(-1.2rem) rotate(-45deg);
  transform: translateY(-1.2rem) rotate(-45deg);
}
.nav__toggle-icon--open .nav-toggle__line::before {
  -webkit-transform: translateY(1.2rem) rotate(45deg);
  -ms-transform: translateY(1.2rem) rotate(45deg);
  transform: translateY(1.2rem) rotate(45deg);
}
.cover {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 20%);
  z-index: -1;
  opacity: 0;
}
/*
---------
  main
---------
*/
.main {
  padding-top: 9.3rem;
}
/*
---- Homepage------
*/
.homepage {
  margin-top: 2rem;
}
.homepage-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.homepage__title {
  font-family: "Poppins SemiBold";
  font-size: 4.8rem;
  color: var(--primaray-color);
  text-shadow: 0 0 2rem rgba(0, 0, 0, 25%);
}
.homepage__caption {
  color: #504f4f;
  max-width: 32rem;
  margin: 1rem 0 4rem 0;
}
.pricing {
}

.pricing__price {
  color: var(--text--color);
  font-family: "Poppins light";
  margin-bottom: 2rem;
}
.pricing__price span {
  font-family: "Poppins Medium";
  font-size: 2.4rem;
}
.pricing-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4rem;
}
.pricing-order__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem 2rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(112, 144, 176, 0.2);
  box-shadow: 0 1rem 2rem rgba(112, 144, 176, 0.2);
  border-radius: 5rem;
  position: relative;
}
.pricing-icon__plus {
  cursor: pointer;
}
.pricing-order__number {
  font-family: "Poppins Medium";
  font-size: 2rem;
  color: var(--secendary--color);
  padding: 0 1rem;
  border-left: 0.2rem solid #f1f1f1;
  border-right: 0.2rem solid #f1f1f1;
  margin: 0 1rem;
}
.pricing-icon__min {
  cursor: pointer;
}
.pricing-order__now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--secendary--color);
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  cursor: pointer;
  -webkit-box-shadow: 0 2rem 2rem rgba(112, 144, 176, 0.2);
  box-shadow: 0 2rem 2rem rgba(112, 144, 176, 0.2);
}
.pricing-icon__shopping {
}
.pricing-order__now__title {
  font-family: "Poppins Medium";
  font-size: 2rem;
  color: var(--text--color);
}
.homepage-photo {
  position: relative;
}
.homepage_img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.delivery {
  position: absolute;
  top: 1rem;
  right: 60rem;
  background-color: rgba(241, 241, 241, 0.4);
  text-align: center;
  padding: 1rem 2rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
}
.delivery-recived {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}
.delivery-recived__title {
  font-size: 2.4rem;
  color: var(--text--color);
}
.delivery-time {
  color: #7d7c7c;
}
/*
---- Menu------
*/
.menu {
  margin-top: 8rem;
}
.section-title {
  font-family: "Poppins SemiBold";
  font-size: 4rem;
  color: var(--primaray-color);
  text-transform: uppercase;
  margin-bottom: 3rem;
  position: relative;
  z-index: 5;
}
.section-title::before {
  content: " ";
  position: absolute;
  width: 11.2rem;
  height: 1rem;
  background-color: #fff6a3;
  bottom: 1.3rem;
  z-index: -1;
}
.food-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 4rem;
}
.food-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 1.2rem 2rem;
  border-radius: 5rem;
  cursor: pointer;
}
.food-list__item--active {
  background-color: var(--secendary--color);
  font-family: "Poppins Medium";
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.food-list__item--text {
  margin-left: 1rem;
  color: #504f4f;
}
.menu-food {
  display: none;
}
.menu-food--show {
  display: block;
}
.food-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 0.1rem solid #e3e3e3;
  border-radius: 1rem;
  position: relative;
  min-height: 35rem;
}
.food-card__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1rem 0;
  position: relative;
  z-index: 5;
}
.food-card__img {
}
.food-card__photo::before {
  content: " ";
  position: absolute;
  width: 34rem;
  height: 10rem;
  background-color: #fffde6;
  bottom: -1.3rem;
  z-index: -1;
  border-radius: 1rem;
}
.food-content {
  margin-left: 2rem;
}
.food-content-title {
  font-family: "Poppins SemiBold";
  font-size: 2rem;
  color: var(--text--color);
  margin-top: 1.5rem;
}
.food-content-caption {
  font-size: 1.4rem;
  color: #504f4f;
  margin-bottom: 0.4rem;
}
.food-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.3rem;
}
.food-star__text {
}
.food-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1.5rem 2rem;
}

.food-price__text {
  font-family: "Poppins SemiBold";
  font-size: 2.4rem;
  color: var(--text--color);
}
.food-price__icon {
  background-color: var(--primaray-color);
  padding: 0.6rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.food-sale {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.menu-see_all {
  text-decoration: underline;
  text-align: center;
  font-family: "Poppins Medium";
  font-size: 2rem;
  display: block;
  color: #504f4f;
  margin-top: 2rem;
}
/*
---- Sale off------
*/
.sale-off {
  margin-top: 8rem;
}
.section-head {
  font-family: "Poppins SemiBold";
  font-size: 4rem;
  color: var(--primaray-color);
  text-transform: uppercase;
  margin-bottom: 3rem;
  position: relative;
  z-index: 5;
  text-align: center;
}
.section-head::before {
  content: " ";
  position: absolute;
  width: 17rem;
  height: 1rem;
  background-color: #fff6a3;
  bottom: 1.3rem;
  z-index: -1;
}
.sale-box {
  background-color: #f1f1f1;
  border: 0.1rem solid #e3e3e3;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 28rem;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.sale-box__content {
  padding: 3rem 0 1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.sale-box__head {
  color: var(--text--color);
  position: relative;
}

.sale-box__head::after {
  content: " ";
  position: absolute;
  width: 27rem;
  height: 0.1rem;
  background-color: rgba(125, 124, 124, 20%);
  top: 0;
  bottom: 0;
  left: 8rem;
  margin: auto;
}
.sale-box__title {
  font-family: "Poppins SemiBold";
  font-size: 3rem;
  color: var(--primaray-color);
  text-transform: uppercase;
}
.sale-box__caption {
  color: #504f4f;
  max-width: 16rem;
  margin-bottom: 0.5rem;
}
.sale-box__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.sale-box__price--offer {
  color: #7d7c7c;
  font-family: "Poppins SemiBold";
  text-decoration: line-through;
}
.sale-box__price--now {
  color: var(--primaray-color);
  font-family: "Poppins SemiBold";
  font-size: 2.4rem;
}
.sale-box__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  background-color: #504f4f;
  width: 14rem;
  padding: 0.6rem 1rem;
  border-radius: 5rem;
  margin-top: auto;
  margin-bottom: 1rem;
  cursor: pointer;
}
.sale-box__order--now {
  font-family: "Poppins Medium";
}
.sale-box__img {
  position: absolute;
  top: 0;
  bottom: -2rem;
  margin: auto;
  left: 22rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.sale-box__img--size {
  width: 20rem;
  height: 15rem;
  left: 24rem;
  top: 3rem;
}
.sale-box:hover {
  background-color: #d62822;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sale-box:hover .sale-box__head {
  color: #ffeae6;
}
.sale-box:hover .sale-box__head::after {
  background-color: #f1f1f1;
}
.sale-box:hover .sale-box__title {
  color: var(--secendary--color);
}
.sale-box:hover .sale-box__caption {
  color: #ffeae6;
}
.sale-box:hover .sale-box__price--offer {
  color: #f1f1f1;
}
.sale-box:hover .sale-box__price--now {
  color: var(--secendary--color);
}
.sale-box:hover .sale-box__order {
  background-color: #fffde6;
  color: var(--text--color);
}
.sale-box:hover .sale-box__order svg path {
  fill: var(--text--color);
}
/*
---- Mobile App------
*/
.news {
  margin-top: 16rem;
  background-color: #f1f1f1;
  border: 0.1rem solid #e3e3e3;
  border-top-right-radius: 500rem;
  border-bottom-right-radius: 500rem;
  max-width: 145rem;
}
.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10rem;
}
.news__photo {
  position: relative;
  width: 100rem;
  height: 38rem;
}
.news__img {
  -webkit-transform: translateY(-6rem);
  -ms-transform: translateY(-6rem);
  transform: translateY(-6rem);
}
.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 4rem;
}
.news__haed {
  font-family: "Poppins Medium";
  font-size: 2rem;
  color: #7d7c7c;
}
.news__title {
  font-family: "Poppins Medium";
  font-size: 4.8rem;
  color: var(--primaray-color);
  margin: 0.5rem 0 1.2rem 0;
}
.news__description {
  color: var(--text--color);
  line-height: 2.4rem;
  margin-bottom: 5rem;
}
.news__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}
/*
---- Location------
*/
.contact {
  margin: 10rem 0;
  position: relative;
  overflow: hidden;
}
.contact-content {
  background-color: var(--text--color);
  border-radius: 2rem;
  padding: 12rem 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-content__title {
  color: #fffde6;
  font-family: "Poppins Medium";
  font-size: 4.8rem;
}
.contact-content__caption {
  color: #f1f1f1;
  margin-bottom: 2rem;
}
.contact-box {
  width: 50rem;
  margin: 0 auto;
  background-color: var(--secendary--color);
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.8rem 0.5rem 0.8rem 1.5rem;
}
.contact-box__input {
  border: none;
  outline: none;
  background-color: transparent;
}
.contact-box__input::-webkit-input-placeholder {
  color: #504f4f;
  font-family: "Poppins";
}
.contact-box__input::-moz-placeholder {
  color: #504f4f;
  font-family: "Poppins";
}
.contact-box__input:-ms-input-placeholder {
  color: #504f4f;
  font-family: "Poppins";
}
.contact-box__input::-ms-input-placeholder {
  color: #504f4f;
  font-family: "Poppins";
}
.contact-box__input::placeholder {
  color: #504f4f;
  font-family: "Poppins";
}
.contact-box__buttom {
  border: none;
  outline: none;
  background-color: #ffeae6;
  font-family: "Poppins Medium";
  border-radius: 5rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}
.contact__photo {
}
.contact__img--salad {
  position: absolute;
  opacity: 0.5;
  top: -6rem;
  right: 1rem;
}
.contact__img--burger {
  position: absolute;
  opacity: 0.5;
  bottom: -5rem;
  left: 11rem;
}
/*
---------
  footer
---------
*/
.footer {
  margin-top: 8rem;
  background-color: #fffde6;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 5rem 6rem;
}
.footer-content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2rem;
}
.footer-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
}
.footer-about__text {
  font-family: "Poppins SemiBold";
  font-size: 3.2rem;
  color: var(--text--color);
}
.footer-about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3rem;
}
.footer-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15rem;
}
.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer-link__text {
  font-family: "Poppins Medium";
  font-size: 2rem;
  color: var(--text--color);
  margin-bottom: 3rem;
}
.footer-link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-link-list__item {
  font-family: "Poppins light";
}
.footer-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer-times__text {
  font-family: "Poppins Medium";
  font-size: 2rem;
  color: var(--text--color);
  margin-bottom: 3rem;
}
.footer-times-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-times-list__item {
  font-family: "Poppins light";
}

.icon__scroll {
  position: absolute;
  top: -2.5rem;
  right: 0;
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 1rem 2rem rgba(112, 144, 176, 0.2);
  box-shadow: 0 1rem 2rem rgba(112, 144, 176, 0.2);
  cursor: pointer;
}
.footer__icon {
  color: var(--primaray-color);
}
