@media screen and (min-width: 1400px) {
  .container {
    width: 1250px;
  }
  .delivery {
    top: 1rem;
    right: 63rem;
  }
  .sale-box__img {
    left: 23rem;
  }
}
@media screen and (max-width: 1400px) {
  .food-card__photo::before {
    width: 31rem;
  }
  .news__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1200px) {
  .nav-content__logo {
    margin-right: 6rem;
  }
  .nav-list__item {
    margin-right: 5rem;
  }
  .homepage__title {
    font-size: 3.8rem;
  }
  .homepage__caption {
    max-width: 26rem;
  }
  .delivery {
    top: 0;
    right: 49rem;
  }
  .food-card__photo::before {
    width: 25rem;
  }
  .food-content-title {
    font-size: 1.8rem;
  }
  .food-content-caption {
    font-size: 1.3rem;
  }
  .sale-box__title {
    font-size: 2.8rem;
  }
  .sale-box__img {
    left: 29rem;
  }
  .news__wrapper {
    flex-direction: column-reverse;
  }
  .news {
    max-width: 105rem;
  }
  .news__wrapper {
    padding-left: 0rem;
  }
  .news__logo {
    margin-bottom: 12rem;
  }
  .news__content {
    padding: 8rem 17rem 0 0;
  }
}
@media screen and (max-width: 992px) {
  .menu-list {
    display: none;
  }
  .homepage {
    margin-top: 5rem;
  }
  .delivery {
    top: -1rem;
    right: 37rem;
  }
  .delivery-recived__title {
    font-size: 1.8rem;
  }
  .homepage__title {
    font-size: 3rem;
  }
  .homepage__caption {
    margin-bottom: 3rem;
  }
  .pricing-order {
    gap: 2rem;
  }
  .pricing-order__numbers {
    padding: 1rem 1rem;
  }
  .pricing-order__now {
    padding: 1rem 1rem;
  }
  .pricing-order__now__title {
    font-size: 1.5rem;
  }
  .sale-box__img {
    left: 17rem;
  }
}
@media screen and (max-width: 768px) {
  .nav-content__logo {
    margin-right: 0;
  }
  .nav-btn {
    display: flex;
    gap: 1rem;
  }
  .menu-list {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-in;
  }
  .menu-list--show {
    height: 30rem;
    overflow: visible;
  }
  .menu-list__item {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .menu-list__item:last-child {
    margin-bottom: 0;
  }
  .nav-toggle__icon {
    display: flex;
  }
  .cover--show {
    z-index: 99;
    opacity: 1;
  }
  .homepage .row {
    flex-direction: column-reverse;
  }
  .homepage {
    margin-top: 8rem;
  }
  .homepage-content {
    text-align: center;
    margin-top: 2rem;
  }
  .homepage__caption {
    max-width: none;
    margin-bottom: 5rem;
  }
  .pricing-order {
    justify-content: center;
  }
  .delivery {
    top: -3rem;
    right: 11rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5rem;
  }
  .food-card__photo::before {
    width: 21rem;
  }
  .food-card {
    height: 39rem;
  }
  .sale-box__img {
    left: 28rem;
  }
  .news {
    border-top-right-radius: 500rem;
    border-bottom-right-radius: 0;
    border-top-left-radius: 500rem;
  }
  .news__content {
    padding: 8rem 0 0 0;
    text-align: center;
  }
  .news__logo {
    justify-content: center;
  }
  .news__title {
    font-size: 3.2rem;
  }
  .news__description {
    margin-bottom: 9rem;
  }
  .news__photo {
    width: 100%;
  }
  .news__img {
    transform: translateY(0);
    position: absolute;
    bottom: -1.4rem;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
  }
  .news__logo {
    margin-bottom: 18rem;
  }
}
@media screen and (max-width: 576px) {
  .delivery {
    top: -5rem;
    right: 11rem;
  }
  .food-card {
    height: auto;
  }
  .sale-box__img {
    left: 26rem;
  }
  .news__haed {
    font-size: 1.8rem;
  }
  .news__title {
    font-size: 3rem;
  }
  .news__description {
    padding: 0 1.5rem 0 1.5rem;
  }
  .news__logo {
    margin-bottom: 15rem;
  }
}
@media screen and (max-width: 430px) {
  .delivery {
    top: -5rem;
    right: 7rem;
  }
  .sale-box__img {
    left: 22rem;
  }
  .sale-box__title {
    font-size: 2.5rem;
  }
  .news__description {
    margin-bottom: 8rem;
  }
  .news__title {
    font-size: 2.6rem;
  }
  .news__logo {
    margin-bottom: 2rem;
  }
  .news__description {
    padding: 0;
  }
}
@media screen and (max-width: 380px) {
  .delivery {
    top: -6rem;
    right: 3rem;
  }
  .sale-box__img {
    left: 15rem;
  }
  .news__description {
    margin-bottom: 6rem;
  }
  .news__logo {
    margin-bottom: 0rem;
  }
}
