@media screen and (min-width: 1400px) {
  .container {
    width: 1250px;
  }
  .delivery {
    top: 1rem;
    right: 63rem;
  }
}
@media screen and (max-width: 1400px) {
  .nav-content__logo {
    margin-right: 6rem;
  }
  .nav-list__item {
    margin-right: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .nav-content__logo {
    margin-right: 6rem;
  }
  .nav-list__item {
    margin-right: 5rem;
  }
  .homepage__title {
    font-size: 3.8rem;
  }
  .homepage__caption {
    max-width: 26rem;
  }
  .delivery {
    top: 0;
    right: 49rem;
  }
}
@media screen and (max-width: 992px) {
  .menu-list {
    display: none;
  }
  .homepage {
    margin-top: 5rem;
  }
  .delivery {
    top: -1rem;
    right: 37rem;
  }
  .delivery-recived__title {
    font-size: 1.8rem;
  }
  .homepage__title {
    font-size: 3rem;
  }
  .homepage__caption {
    margin-bottom: 3rem;
  }
  .pricing-order {
    gap: 2rem;
  }
  .pricing-order__numbers {
    padding: 1rem 1rem;
  }
  .pricing-order__now {
    padding: 1rem 1rem;
  }
  .pricing-order__now__title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .nav-content__logo {
    margin-right: 0;
  }
  .nav-btn {
    display: flex;
    gap: 1rem;
  }
  .menu-list {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-in;
  }
  .menu-list--show {
    height: 30rem;
    overflow: visible;
  }
  .menu-list__item {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .menu-list__item:last-child {
    margin-bottom: 0;
  }
  .nav-toggle__icon {
    display: flex;
  }
  .cover--show {
    z-index: 99;
    opacity: 1;
  }
  .homepage .row {
    flex-direction: column-reverse;
  }
  .homepage {
    margin-top: 8rem;
  }
  .homepage-content {
    text-align: center;
    margin-top: 2rem;
  }
  .homepage__caption {
    max-width: none;
    margin-bottom: 5rem;
  }
  .pricing-order {
    justify-content: center;
  }
  .delivery {
    top: -3rem;
    right: 11rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5rem;
  }
}
@media screen and (max-width: 576px) {
  .delivery {
    top: -5rem;
    right: 11rem;
  }
}
@media screen and (max-width: 430px) {
  .delivery {
    top: -5rem;
    right: 7rem;
  }
}
@media screen and (max-width: 380px) {
  .delivery {
    top: -6rem;
    right: 3rem;
  }
}
